h1{
    color:crimson;
    font-family: "algerian";
}
*{
    background-color:lightblue
}

.forehead{
border:solid;
display:flex;
justify-content:space-between
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
